<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <title>Document</title>
  </head>
  <body>
    <div class="" style="height: 100%; width: 85%;background-color:rgb(228, 226, 226); margin-left: 240px; ">
      <div style=" display: flex; justify-content: flex-end; height: 15%;">
        <!-- <div
          class=""
          id="navmain"
          style="display: flex; justify-content: flex-start; width: fit-content;"
        >
          <button mat-flat-button color="accent" class="mat-flat-button">
            Component
          </button>
          <button mat-flat-button color="accent" class="mat-flat-button">
            CDK
          </button>
          <button mat-flat-button color="accent" class="mat-flat-button">
            Guides
          </button>
         
        </div> -->
        <div style="display: flex;flex-direction: row;justify-content: center;padding-bottom: 50px;font-size:smaller; padding-right: 25px;gap: 18px;">
        <span class="" style="padding-top: 20px;padding-right: 130px;margin-bottom: 10px;border-bottom: 1px solid black; padding-left: 10px;margin-left: 15px;">Search</span>
          <button mat-flat-button class="mat-main-button" routerLink="/">
            <mat-icon
              class="mat-icon-main"
              svgIcon="Angular-up"
              aria-hidden="false"
              style="color: black;"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon>
          </button>
          <button mat-flat-button class="mat-main-button">
            <mat-icon
              class="mat-icon-main"
              style="color: black; cursor: pointer"
              >dashboard</mat-icon
            >
          </button>
          <button mat-flat-button class="mat-main-button">
            <mat-icon
              class="mat-icon-main"
              style="color: white"
              svgIcon="Colour-up"
              aria-hidden="false"
              style="color: black;"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon>
          </button>
          <button mat-flat-button class="mat-main-button" >
            <mat-icon
              class="mat-icon-main"
              svgIcon="Git-up"
              aria-hidden="false"
              style="color: black;"
              aria-label="Example thumbs up SVG icon"
            ></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
