<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4">Angular Material Tab </h1>
      <mat-tab-group>
        <mat-tab label="OVERVIEW">
          <div class="tab-content">
            <p>
              The autocomplete is a normal text input enhanced by a panel of
              suggested options. Simple autocomplete Start by creating the
              autocomplete panel and the options displayed inside it. Each
              option should be defined by a mat-option tag. Set each option's
              value property to whatever you'd like the value of the text input
              to be when that option is selected.<br>Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Inventore corrupti vitae, libero
              assumenda doloremque eius? Optio obcaecati expedita vero sint
              temporibus eum aspernatur. Earum atque, aliquam perferendis id
              labore iure!
            </p>
          </div>
        </mat-tab>
        <mat-tab label="API">
          <div class="tab-content">
            <span
              >import MatAutocompleteModule from
              '@angular/material/autocomplete'</span
            >
          </div>
        </mat-tab>
        <mat-tab label="EXAMPLES">
          <div class="tab-content">Content for Tab 3 goes here.</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </body>
</html>
