<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body style="overflow: auto; background-color: rgb(228, 226, 226);padding: 30px;">
    <div class="container" style="margin-top: 50px;">
      <!-- <h1 class="text-center mt-4" style="font-size: 18px;line-height: 1.5;"
         >Angular <a href="https://material.io/components">Material Design specification</a></h1> -->
      <!-----------ROW 1----------->
      <div class="row" style="display: flex; justify-content: space-evenly">
        <div class="col-md-3">
          <!-- Card 1 -->
          <div
            class="card"
            style="width: 250px; margin-left: 20px"
            routerLink="autocomplete"
          >
            <img
              src="../../assets/copy.png"
              class="card-img-top"
              alt="Card 1 Image"
              style="width: 30%; position: relative; bottom: 20px; left: 10px"
            />
            <!-- <mat-icon svgIcon="Copy-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
            <div class="card-body">
              <h5 class="card-title">Used Space</h5>
              <p class="card-text">49/50 GB</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- Card 2 -->
          <div
            class="card"
            style="width: 250px; margin-left: 20px"
            routerLink="bottom-sheet"
          >
            <img
              src="../../assets/Bar-Graph.png"
              class="card-img-top"
              alt="Card 3 Image"
              style="width: 50%; position: relative; bottom: 15px; left: 10px"
            />
            <div class="card-body">
              <h5 class="card-title">Revenue</h5>
              <p class="card-text">$34,245</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- Card 3 -->
          <div
            class="card"
            style="width: 250px; margin-left: 20px"
            routerLink="autocomplete"
          >
            <img
              src="../../assets/Issue.png"
              class="card-img-top"
              alt="Card 1 Image"
              style="width: 30%; position: relative; bottom: 20px; left: 10px"
            />
            <!-- <mat-icon svgIcon="Copy-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
            <div class="card-body">
              <h5 class="card-title">Fixed Issue</h5>
              <p class="card-text">75</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- Card 2 -->
          <div
            class="card"
            style="width: 250px; margin-left: 20px"
            routerLink="bottom-sheet"
          >
            <img
              src="../../assets/Twitter.png"
              class="card-img-top"
              alt="Card 1 Image"
              style="width: 30%; position: relative; bottom: 20px; left: 10px"
            />
            <div class="card-body">
              <h5 class="card-title">Revenue</h5>
              <p class="card-text">$34,245</p>
            </div>
          </div>
        </div>
        <!-- Add more columns and cards as needed -->
      </div>
      <!------------ROW-2------------->
      <div
        class="row custom-row"
        style="display: flex; justify-content: space-evenly; margin-top: 50px"
      >
        <div class="col-md-4">
          <!-- Card 1 -->
          <div
            class="card"
            style="width: 350px; margin-left: 20px"
            routerLink="autocomplete"
          >
            <img
              src="../../assets/copy.png"
              class="card-img-top"
              alt="Card 1 Image"
              style="width: 50%; position: relative; bottom: 40px; left: 20px"
            />
            <div class="card-body">
              <h5 class="card-title">Daily Sales</h5>
              <p class="card-text">55% increase in Todays Sales</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Card 2 -->
          <div
            class="card"
            style="width: 350px; margin-left: 20px"
            routerLink="bottom-sheet"
          >
            <img
              src="../../assets/Bar-Graph 2.png"
              class="card-img-top"
              alt="Card 3 Image"
              style="width: 90%; position: relative; bottom: 40px; left: 20px"
            />
            <div class="card-body">
              <h5 class="card-title">Email Subscription</h5>
              <p class="card-text">Last Campaign Performance</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Card 3 -->
          <div
            class="card"
            style="width: 350px; margin-left: 20px"
            routerLink="autocomplete"
          >
            <img
              src="../../assets/Line-Graph.png"
              class="card-img-top"
              alt="Card 1 Image"
              style="width: 90%; position: relative; bottom: 40px; left: 20px"
            />
            <div class="card-body">
              <h5 class="card-title">Completed Task</h5>
              <p class="card-text">Last Campaign Performance</p>
            </div>
          </div>
        </div>
        <!-- Add more columns and cards as needed -->
      </div>
      <!--------ROW 3-------->
      <div
        class="row custom-row"
        style="display: flex; justify-content: space-evenly; margin-top: 50px"
      >
        <div class="col-md-6">
          <!-- Card 1 -->
          <div
            class="card"
            style="width: 472px;height: 100%; margin-left: 50px;"
           
          >
          <div style=" width: 90%; position: relative; left: 20px; bottom: 30px; border-radius: 5px;padding-left: 20px;padding-bottom: 15px;padding-top: 10px;font-family: sans-serif;font-size: 17px;color: aliceblue;background-color: rgb(255, 121, 12);">
            <span style="padding-right: 10px;">Task:-</span>
            <mat-icon svgIcon="Copy-up" style="padding-right: 10px; padding-top: 3px;" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <span style="padding-right: 15px;">Bugs</span>

            <mat-icon svgIcon="Code-up" style="padding-right: 10px; padding-top: 3px;" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <span style="padding-right: 10px;">Website</span>
            <mat-icon svgIcon="Cloud-up" style="padding-right: 10px;  padding-top: 3px;" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <span style="padding-right: 10px;">Server</span>
          </div>
            <div class="card-body" style="gap: 10px;padding: 10px;">
             <mat-checkbox checked=""  style="padding-bottom: 20px;">Sign contract for "What are Conference organizer afraid of?"</mat-checkbox>
             <mat-checkbox  style="padding-bottom: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </mat-checkbox>
             <mat-checkbox  style="padding-bottom: 20px;"> Delectus autem, fugiat facere iste nostrum esse, hic incidunt facilis fugit enim odio </mat-checkbox>
             <mat-checkbox checked=""  style="padding-bottom: 20px;">Sign contract for "What are Conference organizer afraid of?"</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Card 2 -->
          <div
            class="card"
            style="width: 480px; margin-left: 60px; height: 100%;"
            

          >
            <!-- <img src="../../assets/Bar-Graph 2.png" class="card-img-top" alt="Card 3 Image" style="width: 90%; position: relative; bottom: 40px; left: 20px;"> -->
            <div style=" width: 90%; position: relative; left: 20px; bottom: 30px; border-radius: 5px;padding-left: 20px;padding-top: 10px;font-family: sans-serif;font-size: 17px;color: aliceblue;background-color: rgb(255, 121, 12);">
              <span >Employee Stats</span>
              <p>New Employee on 15th September 2016</p>
            </div>
            <div class="card-body">
              <table class="table" >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Country</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>$36,738</td>
                    <td>Niger</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>$23,789</td>
                    <td>Curacgo</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Michael Johnson</td>
                    <td>$56,142</td>
                    <td>Netherland</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Susan Williams</td>
                    <td>$38,735</td>
                    <td>Korea</td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            
          </div>
        </div>

        <!-- Add more columns and cards as needed -->
      </div>

      <!---add here--->
    </div>
  </body>
</html>
